<footer class="page-footer mt-5 py-5" style="background-color: rgb(56, 6, 66);">
    <div class="container">
      <div class="row justify-content-md-between">
        <div class="col-12 col-md-8" style="max-width: 450px;">
          <!-- <img src="" alt=""> -->
          <h5 class="text-uppercase font-weight-bold fs-4 pb-3" style="color: white;">
            Additional Information
          </h5>
          <p class="fs-6 fw-normal text-justify text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
            dolor id sapien rutrum, id vulputate quam iaculis.
          </p>
          <p class="fs-6 fw-normal text-justify text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque interdum quam odio, quis placerat ante luctus eu.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <h5 class="text-uppercase font-weight-bold fs-4 pb-3" style="color: white;">
            Contact
          </h5>
          <p class="text-white">
            <i class="fas fa-map-marker-alt"></i>
            <span class="px-2">
              17/8 Barasat, Colony More, India
            </span>
          </p>
          <a href="mailto:info@fashionhut.com" class="text-decoration-none text-white">
            <i class="fas fa-envelope"></i>
            <span class="px-2">
              info@fashionhut.com
            </span>
          </a>
          <p class="py-3">
            <a href="tel:03321458785" class="text-decoration-none text-white">
              <i class="fas fa-phone-alt"></i>
              <span class="px-2">
                033 214 587 85
              </span>
            </a>
          </p>
        </div>
        <div>
          <div class="text-center pt-2" style="color: rgb(221, 210, 210);">© 2021 Copyright: FashionBazzar.com</div>
  </footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>