<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <!-- custom css -->

    <title>Fashion Bazzar</title>
  </head>

  <body>
    <%- include('./partials/navbar.ejs')%>

    <!-- for single product -->

    <div class="container py-5" style="margin-top: 86px">
      <div class="d-flex justify-content-center" style="min-height: 30vh">
        <% if(typeof error === 'undefined') { %>
        <div
          class="text-success w-100 px-3 d-flex py-2 rounded align-self-start"
          style="
            background-color: #bcf5bc;
            font-size: 14px;
            margin-bottom: 5px;
            max-width: 300px;
          "
        >
          <i class="fas fa-check-circle pt-1"></i>
          <p class="my-0 px-2">Account Verified</p>
        </div>
        <% } else { %>
        <div
          class="text-danger w-100 px-3 d-flex py-2 rounded align-self-start"
          style="
            background-color: #f5c3bc;
            font-size: 14px;
            margin-bottom: 5px;
            max-width: 300px;
          "
        >
          <i class="fas fa-times-circle pt-1"></i>
          <p class="my-0 px-2">Can not able to verify account</p>
        </div>
        <% } %>
        <!-- <button type="button" class="btn btn-primary" style="max-width: 200px">
          Primary
        </button> -->
      </div>
    </div>

    <!-- for single product -->

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
